#u3764-3
{
	border-width: 5px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #29ABE2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	color: #FFFFFF;
	line-height: 103px;
	font-size: 80px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3756
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 3px 20px rgba(46, 49, 146, 0.5);
	-webkit-box-shadow: 0px 3px 20px -1px rgba(46, 49, 146, 0.5);
	box-shadow: 0px 3px 20px rgba(46, 49, 146, 0.5);
	border-width: 3px;
	border-style: solid;
	border-color: #80BDC5;
	background-color: transparent;
	-moz-border-radius: 10px 0px 10px 10px ;
	-webkit-border-radius: 10px 0px 10px 10px ;
	-khtml-border-radius: 10px 0px 10px 10px ;
	border-radius: 10px 0px 10px 10px ;
	position: relative;
}

#u3767
{
	border-style: none;
	border-color: transparent;
	background-color: #BEE5F6;
	background-color: rgba(41, 171, 226, 0.3);
	position: relative;
	-pie-background: rgba(41, 171, 226, 0.3);
}

#u2396
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#menuu3673
{
	position: fixed;
}

#u3696
{
	background-color: #29ABE2;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	position: relative;
}

#u3696:hover
{
	background-color: #29ABFA;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3696:active
{
	background-color: #29ABC8;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3699-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3721
{
	background-color: #29ABE2;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	position: relative;
}

#u3721:hover
{
	background-color: #29ABFA;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3721:active
{
	background-color: #29ABC8;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3724-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3714
{
	background-color: #29ABE2;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	position: relative;
}

#u3714:hover
{
	background-color: #29ABFA;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3714:active
{
	background-color: #29ABC8;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3715-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3682
{
	background-color: #29ABE2;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	position: relative;
}

#u3682:hover
{
	background-color: #29ABFA;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3682:active
{
	background-color: #29ABC8;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3685-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3689
{
	background-color: #29ABE2;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	position: relative;
}

#u3689:hover
{
	background-color: #29ABFA;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3689:active
{
	background-color: #29ABC8;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3690-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3675
{
	background-color: #29ABE2;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	position: relative;
}

#u3675:hover
{
	background-color: #29ABFA;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3675:active
{
	background-color: #29ABC8;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3676-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3730
{
	background-color: #29ABE2;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	position: relative;
}

#u3730:hover
{
	background-color: #29ABFA;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3730:active
{
	background-color: #29ABC8;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3732-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3737
{
	background-color: #29ABE2;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	position: relative;
}

#u3737:hover
{
	background-color: #29ABFA;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3737:active
{
	background-color: #29ABC8;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3739-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3695,#u3720,#u3713,#u3681,#u3688,#u3674,#u3727,#u3734,#u3741
{
	position: relative;
}

#u3742
{
	background-color: #29ABE2;
	-moz-border-radius: 10px 0px 10px 0px ;
	-webkit-border-radius: 10px 0px 10px 0px ;
	-khtml-border-radius: 10px 0px 10px 0px ;
	border-radius: 10px 0px 10px 0px ;
	position: relative;
}

#u3742:hover
{
	background-color: #29ABFA;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3742:active
{
	background-color: #29ABC8;
	-moz-border-radius: 0px 10px 0px 10px ;
	-webkit-border-radius: 0px 10px 0px 10px ;
	-khtml-border-radius: 0px 10px 0px 10px ;
	border-radius: 0px 10px 0px 10px ;
}

#u3696.MuseMenuActive,#u3721.MuseMenuActive,#u3714.MuseMenuActive,#u3682.MuseMenuActive,#u3689.MuseMenuActive,#u3675.MuseMenuActive,#u3730.MuseMenuActive,#u3737.MuseMenuActive,#u3742.MuseMenuActive
{
	background-color: #80BDC5;
}

#u3745-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u3696.MuseMenuActive #u3699-4 p,#u3721.MuseMenuActive #u3724-4 p,#u3714.MuseMenuActive #u3715-4 p,#u3682.MuseMenuActive #u3685-4 p,#u3689.MuseMenuActive #u3690-4 p,#u3675.MuseMenuActive #u3676-4 p,#u3730.MuseMenuActive #u3732-4 p,#u3737.MuseMenuActive #u3739-4 p,#u3742.MuseMenuActive #u3745-4 p
{
	font-size: 18px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-weight: bold;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

